$blue-color: #4285F4;
$red-color: #DB4437;
$yellow-color: #F4B400;
$green: #0F9D58;

.title {
  display: flex;
  flex-direction: row;
}
.l_1 {
  color: $blue-color;
}
.l_2 {
  color: $red-color;
}
.l_3 {
  color: $yellow-color;
}
.l_4 {
  color: $red-color;
}
.l_5 {
  color: $green;
}
.l_6 {
  color: $blue-color;
}
.l_7 {
  color: $red-color;
}
.l_8 {
  color: $yellow-color;
}
.l_9 {
  color: $red-color;
}
.l_10 {
  color: $green;
}
.l_11 {
  color: $blue-color;
}
.l_12 {
  color: $red-color;
}
.l_13 {
  color: $green;
}
.l_14 {
  color: $yellow-color;
}
.l_15 {
  color: $blue-color;
}
